In [1]:
import pandas as pd
import numpy as np
array = np.array(["blue", "yellow", "pink", "purple"]) # get the array
series1 = pd.Series(array)  #create the series from the array
print(series1)

0      blue
1    yellow
2      pink
3    purple
dtype: object

In [2]:
list = [19, 175, 41, 22]
series2 = pd.Series(list) #create the series from the list
print(series2)

0     19
1    175
2     41
3     22
dtype: int64

In [3]:
import pandas as pd
color=["pink", "white", "black", "blue"]
occurence = [20, 15, 6, 43]
S=pd.Series(occurence, index=color)
print(S)

pink     20
white    15
black     6
blue     43
dtype: int64

In [4]:
import pandas as pd
color=["pink", "white", "black", "blue"]
S1=pd.Series([20, 15, 6, 43], index=color)
S2=pd.Series([3, 22, 9, 10], index=color)
print(S1+S2)

pink     23
white    37
black    15
blue     53
dtype: int64

In [5]:
import pandas as pd
fruits = ["apples", "oranges", "cherries", "pears"]
fruits_ro = ["mere", "portocale", "cirese", "pere"]
S = pd.Series([20, 33, 52, 10], index=fruits)
S2 = pd.Series([17, 13, 311, 32], index=fruits_ro)
print(S+S2)

apples      NaN
cherries    NaN
cirese      NaN
mere        NaN
oranges     NaN
pears       NaN
pere        NaN
portocale   NaN
dtype: float64

In [6]:
import pandas as pd
list = [['Jack', 34, 'Paris'], ['Thomas', 30, 'Roma'], 
       ['Alexandre', 16, 'New York']] 
df = pd.DataFrame(list, columns =['name', 'age', 'city'])
print(df)

        name  age      city
0       Jack   34     Paris
1     Thomas   30      Roma
2  Alexandre   16  New York

In [7]:
dictionary  = { 'name' : ['Jack', 'Thomas', 'Alexandre'],
    'age' : [34, 30, 16],
    'city' : ['Paris', 'Roma', 'New York']}

df = pd.DataFrame(dictionary)
print(df)

        name  age      city
0       Jack   34     Paris
1     Thomas   30      Roma
2  Alexandre   16  New York

In [28]:
import numpy as np
import pandas as pd
my_numpy_array=np.random.randn(3,4)
df=pd.DataFrame(my_numpy_array, columns = list("abcd"))
print(df)

TypeError: 'list' object is not callable

In [31]:
import pandas as pd
df=pd.read_csv("C:\Users\DELL\Desktop\Data Science\csv file example")
print(df)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (512997723.py, line 2)

In [37]:
import pandas as pd
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthieu', 'Laura', 'Kevin', 'Jonas'],
             'note': [12.5, 9, 16.5,'NaN', 9, 20, 14.5,'NaN', 8, 19],
             'tentatives' : [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualifier' : ['oui', 'non', 'oui', 'non', 'non', 'oui', 'oui', 'non', 'non', 'oui']}

df = pd.DataFrame(exam_data)
print(df)

        name  note  tentatives qualifier
0  Anastasia  12.5           1       oui
1       Dima     9           3       non
2  Katherine  16.5           2       oui
3      James   NaN           3       non
4      Emily     9           2       non
5    Michael    20           3       oui
6   Matthieu  14.5           1       oui
7      Laura   NaN           1       non
8      Kevin     8           2       non
9      Jonas    19           1       oui

In [38]:
df.index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
print(df)

        name  note  tentatives qualifier
a  Anastasia  12.5           1       oui
b       Dima     9           3       non
c  Katherine  16.5           2       oui
d      James   NaN           3       non
e      Emily     9           2       non
f    Michael    20           3       oui
g   Matthieu  14.5           1       oui
h      Laura   NaN           1       non
i      Kevin     8           2       non
j      Jonas    19           1       oui

In [39]:
df = df.drop(['d','h'],axis=0)
print(df)

        name  note  tentatives qualifier
a  Anastasia  12.5           1       oui
b       Dima     9           3       non
c  Katherine  16.5           2       oui
e      Emily     9           2       non
f    Michael    20           3       oui
g   Matthieu  14.5           1       oui
i      Kevin     8           2       non
j      Jonas    19           1       oui

In [41]:
df_1 = df.iloc[:,0:2]
print(df_1)

        name  note
a  Anastasia  12.5
b       Dima     9
c  Katherine  16.5
e      Emily     9
f    Michael    20
g   Matthieu  14.5
i      Kevin     8
j      Jonas    19

In [46]:
df.append(pd.Series(data = ['Suresh',15.5,1,'oui'],index=['name','note','tentatives','qualifier']), ignore_index=True)
print(df)

        name  note  tentatives qualifier
a  Anastasia  12.5           1       oui
b       Dima     9           3       non
c  Katherine  16.5           2       oui
e      Emily     9           2       non
f    Michael    20           3       oui
g   Matthieu  14.5           1       oui
i      Kevin     8           2       non
j      Jonas    19           1       oui

C:\Users\DELL\AppData\Local\Temp\ipykernel_10708\154563992.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(pd.Series(data = ['Suresh',15.5,1,'oui'],index=['name','note','tentatives','qualifier']), ignore_index=True)

In [48]:
df.drop(columns=['tentatives'],inplace=True)
print(df)

        name  note qualifier
a  Anastasia  12.5       oui
b       Dima     9       non
c  Katherine  16.5       oui
e      Emily     9       non
f    Michael    20       oui
g   Matthieu  14.5       oui
i      Kevin     8       non
j      Jonas    19       oui

In [50]:
def Succes (score):
    if score > 10 :
        return(1)
    else:
        return(0)
df['Succès']=df['note'].apply(lambda x: Succes(x) ) 
print(df)

        name  note qualifier  Succès
a  Anastasia  12.5       oui       1
b       Dima     9       non       0
c  Katherine  16.5       oui       1
e      Emily     9       non       0
f    Michael    20       oui       1
g   Matthieu  14.5       oui       1
i      Kevin     8       non       0
j      Jonas    19       oui       1

In [51]:
df.to_csv('my_data.csv')